/* ---- MISC NORMALIZE ---- */

@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* GLOBALES */
body {
    background-image: url("../../images/pattern.png"), linear-gradient(to bottom, $primarioVerde, $cuaternarioVerde, $quintoVerde);
    background-size: 25%;
    p {
        font-family: $fontSans;
        font-size: $parrafos;
        padding: $padding20cero;
    }
    ::selection {
        color: $quintoVerde;
        background-color: $primarioVerde;
    }
}

header {
    font-family: $fontSans;
}

/* DECARACIÓN  MIXINS */

@mixin mixinH1 {
    font-family: $fontItalic;
    color: $fontColor;
    font-size: $titulos;
    padding: $padding20cero;
}

@mixin mixinH2 {
    font-family: $fontItalic;
    color: $fontColor;
    font-size: $subTitulos;
    padding: $padding20cero;
}



